.headerContainer {
  position: relative; 
  text-align: center; 
  padding: 30px 0px 15px 0px;
  background-color: white;
  margin: 10px;
  color: rgb(46, 45, 45);
}

.logo {
  position: absolute; 
  left: 40px; 
  top: 50%; 
  transform: translateY(-50%);
  vertical-align: middle; 
  background-color: rgb(244, 249, 249);
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 5px;
}

.heading {
  margin: 0;
}